/**
 * Created by mahongyao on 2014/11/6.
 */
body{
    background:  url("/img/bg.gif") repeat;
}

header {
    height: 120px;
    /* background-color: #42937F; */
    border-bottom:1px solid #e7e7e7;
}

.header-t , .contain-bd  {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 31px;
    width: 90%;
    max-width: 1220px;
}

#navbar-search{
    margin-right: 10px;
}

#navbar-ul li a:hover{
    background-color: #e7e7e7;
}

.article-each{
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 60px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
}

.bd-sty:hover{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    border-color: #66afe9;
}

.article-title{
    font-size: 1.5em;
    font-weight: 200;
    color: #08c;
}

.article-title:hover{
    text-decoration: none;
}

.article-label{
    margin-top: 18px;
}

.article-label .badge{
    margin-right: 5px;
    background-color: #989191;
    border-radius: 3px;
    font-weight: 200;
}


.article-bd{
    padding-right: 5em;
    margin-top: 35px;
    padding-bottom: 26px;
    overflow: hidden;
    line-height: 30px;
    font-size: 97%;
    color: #222;
}
.bottom-shade{
    position: absolute;
    bottom: 0;
    left: 0.1%;
    width: 99.8%;
    min-height: 50px;
    text-align: right;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%,rgba(255, 255, 255, 0.7) 40%,rgba(255, 255, 255, 1) 100%);
}
.glyphicon-chevron-right{
    margin-right: 80px;
    line-height: 49px;
}
.glyphicon-chevron-right:hover{
    text-decoration: none;
}
footer{
    height: 80px;
    padding-top:1px;
}

.copyright{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #428bca;
    text-align: center;
    text-shadow: 0 0 1px #7587B5;
}

.music-lg{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-top: 31px;
    width: 100%;
    min-height: 350px;
    background: url("/img/music-lg-fu.gif") no-repeat;
    background-color: #fe9275;
}

#to_the_top{
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 25px;
}